<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyeFresher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EyeFresher.Properties.Settings>
            <setting name="OpacityPercentage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DimmingPercentage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DontDisturb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Stop1h" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Stop2h" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeDelay" serializeAs="String">
                <value>60</value>
            </setting>
        </EyeFresher.Properties.Settings>
    </userSettings>
</configuration>